@use 'index' as *;

.hero {
  @include mobile {
    width: 100%;
    max-width: 375px;
    height: auto;
    margin: 32px auto 0;
  }

  @include desktop {
    min-height: 800px;
    max-height: 100vh;
    object-fit: cover;
  }
}
