@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

$palette: (
  black: #423A3A,
  text: #CE9898,
  light-text: #CE989880,
);

$gradient: linear-gradient(135deg, #F8BFBF, #EE8B8B);
