@use 'index' as *;

form {
  max-width: 444px;

  @include mobile {
    text-align: center;
    margin: 64px auto 0;
    padding: 0 32px;
  }

  font-family: 'Josefin Sans',
  sans-serif;
  color: map-get($palette, text);
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  color: map-get($palette, black);

  @include mobile {
    font-size: 40rem;
    line-height: 42rem;
    letter-spacing: 10.8rem;
  }

  @include desktop {
    font-size: 64rem;
    line-height: 71rem;
    letter-spacing: 17.3rem;
  }

  &-head {
    font-weight: 300;
    color: map-get($palette, text);

    @include desktop {
      font-size: 64rem;
      line-height: 64rem;
    }
  }
}

.body {
  font-weight: 400;

  @include mobile {
    margin-top: 16rem;
    font-size: 14rem;
    line-height: 22rem;
  }

  @include desktop {
    margin-top: 32rem;
    font-size: 16rem;
    line-height: 28rem;
  }
}

.input-box {
  border-radius: 28px;
  border: 1px solid map-get($palette, light-text);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    margin-top: 32rem;
    height: 48rem;
  }

  @include desktop {
    margin-top: 40rem;
    height: 56rem;
  }
}

[type=email] {
  width: 100%; // Prevent overflow

  @include mobile {
    margin: 0 24px;
  }

  @include desktop {
    margin: 0 32px;
  }

  // Typography
  font-weight: 400;

  @include mobile {
    font-size: 14rem;
    line-height: 28rem;
  }

  @include desktop {
    font-size: 16rem;
    line-height: 28rem;
  }

  // reset default styles
  background: none;
  border: none;
  padding: 0;

  &::placeholder {
    color: map-get($palette, light-text);
  }

  &:focus-visible {
    outline: none;
  }
}

button {
  $gradient: linear-gradient(135deg, #F8BFBF, #EE8B8B);
  background: $gradient;
  box-shadow: 0 15px 20px rgba(198, 110, 110, .25);
  height: 100%;
  display: inline-grid; // center svg
  cursor: pointer;

  border: none {
    radius: 28px;
  }

  &:is(:hover, :focus) {
    // Add semi-transparent white layer
    background: linear-gradient(#FFFFFF80, #FFFFFF80), $gradient;
  }

  @include mobile {
    min-width: 64px;
  }

  @include desktop {
    min-width: 100px;
  }

  // Reset default styles
  padding: 0;
}

.error {
  position: absolute;
  left: 24px;

  @include mobile {
    top: 56px;
  }

  @include desktop {
    top: 70px;
  }

  font-weight: 400;
  font-size: 13rem;
  line-height: 13rem;
  color: map-get($palette, error);
}

svg-error {
  min-width: 24px;
  min-height: 24px;

  @include mobile {
    margin-right: 8px;
  }

  @include desktop {
    margin-right: 16px;
  }
}

svg {
  margin: auto; // center svg
  width: 12px;
  height: 20px;
}
