@use 'index' as *;

:host {
  display: block;

  @include mobile {
    $margin: 32px;

    margin-left: max((100% - 375px) / 2 + $margin, $margin);
  }
}

svg {
  // Set resolution
  height: 20px;
  width: 100px;

  @include desktop {
    height: 32px;
    width: 160px;
  }
}
